fastapi
uvicorn[standard]
websockets
python-multipart
requests
wheel
numba
accelerate
bitsandbytes
faster-whisper
pandas
setuptools
pyannote.audio>=4.0.1
lightning>=2.4
transformers>=4.45.0
mistral-common[audio]>=1.9.0
soxr
librosa
soundfile
ffmpeg-python
scipy
webrtcvad-wheels>=2.0.14
silero-vad
boto3
matplotlib
vosk
resemblyzer
scikit-learn
dulwich
